.choices {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1rem;
    background: #DDA448;
    font-size: 1.5rem;
    min-width: 20rem;
}

.choice-container {
    margin-top: 3rem;
}

.choices:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 400ms;
}

.answer {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}

.correct {
    background: #6A994E;
}

.incorrect {
    background: #BC4749;
}

#displays {
    display: flex;
    justify-content: space-between;
}

.display-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.display-main-text {
    text-align: center;
}
