@import "_quiz.scss";

body {
    background-color: #3C3C3C;
    margin: 0;
    margin-top: 5rem;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9ECF5;
    color: #3C3C3C;
    width: 40rem;
    height: 45rem;
    padding: 3rem;
    border-radius: 5rem;
    
}

.index-title {
    font-size: 3rem;
    margin: 0;
    margin-top: 3rem;
    font-family: 'Spartan';
}

.genre-title {
    padding-top: 3rem;
}

.sub {
    margin: 0;
    font-size: 0.7rem;
    font-style: italic;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 4rem;
}

.btn {
    font-size: 2.5rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 2rem;
    color: white;
    background: #DDA448;
    margin: 1rem;
}

.fas {
    transform: scale(0.75);
}

.btn:hover {
    cursor: pointer;
    transition: transform 400ms ease-in-out;
    transform: scale(1.02);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

#leaderboard-btn {
    background: #7180B9;
}